[submodule "daemon"]
	path = daemon
	url = https://github.com/Unvanquished/Unvanquished.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
